{%load static %} {% csrf_token %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME WORK</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  </head>

  <body>
    <div class="container" id="container" name="container">
      <div class="div1">
        <h2>وظيفة استرجاع المعلومات</h2>
        <!-- Update your form to use POST method -->
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input
            type="text"
            class="form-control"
            name="search-input"
            placeholder="Enter Your Text"
          /><br /><br />

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">
              Choose Model</label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              name="select-option"
            >
              <option selected>Choose...</option>
              <option value="Boolean Model">Boolean Model</option>
              <option value="Vector Model">Vector Model</option>
              <option value="Extended Boolean">Extended Boolean</option>
            </select>
          </div>
          <input
            type="submit"
            class="form-control"
            name="btn2"
            value="search"
          />
        </form>
      </div>
      <div class="div2">
        <form>
          <div class="info" name="info">
            <table class="table table-dark table-striped" name="table">
              <thead>
                <tr>
                  <th>Search Resulte</th>
                  <th>rank</th>
                </tr>
              </thead>

              <tbody>
                <!-- Inside the <tbody> section of your table -->
                {% for result in search_results %}
                <tr>
                  <td><a href="{% url 'read' result  %}">{{ result }}</a></td>
                  <td>{{ forloop.counter }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <textarea class="resulte" name="resulte" cols="40" rows="20">
            {{CONT |safe}}</textarea
          >
        </form>
      </div>
    </div>
    <script>
      // يُنفذ عند تحميل الصفحة
      window.onload = function () {
        // ابحث عن الحقل النصي والـ <textarea>
        var searchInput = document.querySelector('input[name="search-input"]');
        var textArea = document.querySelector(".resulte");

        // قم بإخفاء الـ <textarea>
        textArea.style.display = "none";

        // ابحث عن الزر الذي يتم الضغط عليه للبحث
        var searchBtn = document.querySelector('input[name="btn2"]');

        // اضف حدث استماع للزر الذي يتم الضغط عليه للبحث
        searchBtn.addEventListener("click", function () {
          // احصل على النص المدخل في الحقل النصي
          var searchText = searchInput.value.trim();

          // احصل على النص في الـ <textarea>
          var textAreaText = textArea.value;

          // قم بتغيير الكلمة المطابقة في الـ <textarea> بين علامات *
          var newText = textAreaText.replace(
            new RegExp(searchText, "g"),
            "*" + searchText + "*"
          );
          // ضع النص المعدل في الـ <textarea>
          textArea.value = newText;

          // قم بإظهار الـ <textarea> عند الضغط على زر البحث
          textArea.style.display = "block";

          // قم بتعيين تأخير زمني لإخفاء الـ <textarea> بعد 5 ثواني
          setTimeout(function () {
            textArea.style.display = "none";
          }, 5000000); // 5000 ميلي ثانية تعادل 5 ثواني
        });

        // اضف حدث استماع لعملية تحديث الصفحة
        window.onbeforeunload = function () {
          // قم بتحديث الصفحة فقط إذا كانت الـ <textarea> ظاهرة
          if (textArea.style.display === "block") {
            return "Are you sure you want to leave this page?";
          }
        };
      };
    </script>
  </body>
</html>
